html {
  min-height: 100%;
	scroll-behavior: auto;
}
body {
  font-family: "Exo 2", sans-serif;
  background-image: url("../assets/774ef2dfda9c2bc64705c3817c2a1d37.jpg");
  background-size: cover;
  background-color: #5cacea;
  margin: 0;
}
#card {
  /* width: auto; */
  height: auto;
  box-sizing:border-box;
  /* background-image: url("../assets/School.jpg");
  background-size:cover; */
  display: auto;
  justify-content: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 4px 8px 1px 2px rgba(25,55,10,0.2);
  margin: 10px auto;
  

}
h1 {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  color: #0e94ee;
  text-shadow: 1 8px 5px #828282;
  padding-right: 5px;
  margin-right: 10px;
}
#upper-side {
  height: 50px;
  /* width: 100%; */
  box-shadow: 4px 1px 5px;
  margin-bottom: 10px;
}
#marquee {
  /* box-shadow: 1px; */
  /* border-radius: 5px; */
  /* Smooth border */
  border: 1px solid #ccc;
  display: grid;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 1px #ccc;
  
}
.invitation {
  font-size: 4rem;
  font-weight: 300;
  text-decoration: underline;
  
}
.rise {
  text-shadow: -0.01em -0.01em 0.01em #000;
  animation: rise 1s forwards;
  animation-timing-function: ease-in-out;
}
@keyframes rise {
  to {
    text-shadow: 0em 0.01em rgb(27, 187, 245), 0em 0.02em rgb(39, 208, 242), 0em 0.02em 0.03em rgb(33, 166, 244), -0.01em 0.01em #333, -0.02em 0.02em #333, -0.03em 0.03em #333, -0.04em 0.04em #333, -0.01em -0.01em 0.03em #000, -0.02em -0.02em 0.03em #000, -0.03em -0.03em 0.03em #000;
    transform: translateY(-0.025em) translateX(0.04em);
  }
}
.container1{
    position: relative;
    overflow: hidden;
    display: grid;
    justify-content: center;
    padding: auto;
    margin: auto;
    /* padding-top: 177.77%; 9:16 Aspect Ratio (divide 16 by 9 = 1.777) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 331px;
    height: 571px;

  }


footer {
  margin-top: calc(100vh);
  height: 70px;
  background-color: #000000;
  color: #ffffff;
  box-shadow: 2px 2px 2px 5px rgba(39, 38, 38, 0.2);
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}


#doc{
  display: grid;
  /* center */
  justify-content: center;
  border: 2px;
  border-radius: 5px;
}
